<div class="container">
  <div cdkDropList [cdkDropListData]="this.recipeGeneratorService.selectedComponents" (cdkDropListDropped)="onTaskDrop($event)">
    <div *ngIf="this.recipeGeneratorService.selectedComponents">
      <div *ngFor="let ar of this.recipeGeneratorService.selectedComponents; let i = index" cdkDrag class="example-box" (cdkDragStarted)="recipeGeneratorService.selectComponentToEdit(null)">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <dcl-wrapper [type]=ar.component [id]=ar.itemId [currentPos]="i"></dcl-wrapper>
      </div>
    </div>
  </div>
  <button (click)="this.recipeGeneratorService.test()" class="btn btn-success">SAVE</button>
</div>

<div class="nav bg-dark">
  <div class="list-group w-100">
    <h5 class="text-center pb-4 text-white">Components</h5>
    <button class="list-group-item bg-dark text-white" style="height: 75px"
            *ngFor="let component of recipeGeneratorService.returnComponents();"
            (click)="onAddComponent({ itemId: counter, component: component.component })"
    >
      {{ component.title }} <fa-icon [icon]="component.icon"></fa-icon>
    </button>
  </div>
  <button class="btn btn-toggle" [ngClass]="{
      'btn-warning': recipeGeneratorService.isRecipeEdited,
      'btn-info': !recipeGeneratorService.isRecipeEdited
   }" (click)="recipeGeneratorService.onChangeRecipeEdit()">
    <span *ngIf="recipeGeneratorService.isRecipeEdited">
      Preview <fa-icon [icon]="recipeGeneratorService.icons.preview"></fa-icon>
    </span>
    <span *ngIf="!recipeGeneratorService.isRecipeEdited">
      Edit <fa-icon [icon]="recipeGeneratorService.icons.edit"></fa-icon>
    </span>
  </button>
</div>
