<span *ngIf="isRecipeEdited(); else recipePreview">
  <div class="mb-3 w-100">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" placeholder="Required" id="title" required [(ngModel)]="data.title"/>
    </div>
  </div>

  <div class="editor-section">
    <button (click)="recipeGS.selectComponentToEdit(id)" class="btn btn-warning rounded-circle">
      <fa-icon [icon]="recipeGS.icons.edit"></fa-icon>
    </button>
    <button (click)="recipeGS.selectedComponents.splice(currentPos, 1)" class="btn btn-danger rounded-circle">
      <fa-icon [icon]="recipeGS.icons.trash"></fa-icon>
    </button>
  </div>

  <div class="bg-dark editor" *ngIf="recipeGS.editedComponentId === id" @editorAnimation>
    <div class="card bg-dark text-white">
      Font Size
      <div class="input-group">
        <input type="number" id="imageHeight" class="form-control" min="16" max="48"/>
        <div class="input-group-append">
          <span class="input-group-text">px</span>
        </div>
      </div>
    </div>

    <div class="card bg-dark text-white">
      Background Color
      <div class="input-group">
        <input type="number" id="bgColor" class="form-control" min="16" max="48"/>
        <div class="input-group-append">
          <span class="input-group-text">px</span>
        </div>
      </div>
    </div>
  </div>
</span>


<ng-template #recipePreview>
  <div>{{ data.title }}</div>
</ng-template>


