<h3>List component Title</h3>
<div class="w-50">
  <label class="input-group mb-3">
    <div class="input-group-prepend">
      <button (click)="onClick()" class="btn btn-outline-success" type="button" id="button-addon1">Button</button>
    </div>
    <input [(ngModel)]="item" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </label>

  <ul *ngIf="items" class="list-group w-50">
    <li *ngFor="let i of items" class="list-group-item">{{ i }}</li>
  </ul>
</div>

<!--<div class="images-management-panel">-->
<!--  item-->
<!--</div>-->

<div class="editor-section">
  <button (click)="recipeGS.selectComponentToEdit(id)" class="btn btn-warning rounded-circle">
    <fa-icon [icon]="recipeGS.icons.edit"></fa-icon>
  </button>
  <button (click)="recipeGS.selectedComponents.splice(currentPos, 1)" class="btn btn-danger rounded-circle">
    <fa-icon [icon]="recipeGS.icons.trash"></fa-icon>
  </button>
</div>
<app-editor *ngIf="recipeGS.editedComponentId === id">
  WTF image {{ id }}
</app-editor>
